openai==1.97.1
requests==2.32.4
pydantic==2.11.7
graphviz==0.21
IPython==9.4.0
pytz==2025.2
llama-index==0.12.25
llama-index-llms-openai-like==0.3.4
langchain==0.3.21
langchain-openai==0.3.9
langgraph==0.3.18
langgraph-cli[inmem]==0.1.77
debugpy==1.8.13
autogen-agentchat==0.4.9.2
autogen-ext[openai]==0.4.9.2
semantic-kernel==1.27.2
semantic-kernel[azure]==1.27.2
pyperclip==1.9.0
python-dotenv==1.1.0
langchain-community==0.3.20
mermaid-py==0.7.1
streamlit==1.44.1
fastmcp==2.8.1
langchain-mcp-adapters==0.1.7
fastapi==0.116.1
python-a2a[openai]==0.5.9
starlette==0.47.2